<% if(trusts && trusts.length) { %>
  <h3>You've already trusted these fellow agents</h3>

  <form method="post" action="<%= urlFor({ controller: "player", action: "revoketrust" }) %>">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <table class="table table-striped">
      <colgroup>
	<col width="57px" />
	<col />
	<col width="50px" />
      </colgroup>

      <tbody>
	<% for(var i in trusts) { %>
          <% var trust = trusts[i]; %>
          <tr>
	    <td>
	      <img class="avatar-image" src="<%= trust.pictureUrl %>" alt="<%= trust.displayName %>" />
	    </td>

	    <td>
	      <strong><%= trust.nickName %></strong><br />
	      <%= trust.displayName %>
	    </td>

	    <td>
	      <button type="submit" class="btn btn-danger" name="revoke" value="<%= trust.nickName %>">Revoke</button>
	    </td>
          </tr>
	<% } %>
      </tbody>
    </table>
  </form>
<% } %>

<% include ../includes/trust-someone %>
