<% if(!user.nickName) { %>
  <div class="alert alert-info">
    <p>
      <strong>I need to know your nickname.</strong>
      Other agents won't be able to find your profile right here, unless you reveal it to me.
    </p>

    <form class="form-inline" method="post" action="<%= urlFor({ controller: "player", action: "nickname" }) %>" >
      <input type="hidden" name="_csrf" value="<%= csrf %>" />
      <input type="text" class="input-medium" name="nickname" placeholder="your nickname">
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
<% } %>

<% include ../includes/poke-someone %>

<% if(pokes && pokes.length) { %>
  <h3>You've been poked by fellow agents</h3>

  <form method="post" action="<%= urlFor({ controller: "player", action: "pokereply" }) %>">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <table class="table table-striped">
      <colgroup>
	<col width="57px" />
	<col />
	<col width="50px" />
	<col width="50px" />
      </colgroup>

      <tbody>
	<% for(var i in pokes) { %>
          <% var poke = pokes[i]; %>
          <tr>
	    <td>
	      <img class="avatar-image" src="<%= poke.pictureUrl %>" alt="<%= poke.displayName %>" />
	    </td>

	    <td>
	      <strong><%= poke.nickName %></strong><br />
	      <%= poke.displayName %>
	    </td>

	    <td>
	      <button type="submit" class="btn btn-success" name="accept" value="<%= poke.nickName %>">Accept</button>
	    </td>

	    <td>
	      <button type="submit" class="btn btn-danger" name="reject" value="<%= poke.nickName %>">Reject</button>
	    </td>
          </tr>
	<% } %>
      </tbody>
    </table>
  </form>
<% } %>

