<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">ingressors</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="<%= urlFor({ controller: 'pages', action: 'main' }) %>">Home</a></li>
              <li><a href="<%= urlFor({ controller: 'player', action: 'trusts' }) %>">Trusting</a></li>
              <li><a href="<%= urlFor({ controller: 'player', action: 'trusted' }) %>">Trusted by</a></li>
              <li><a href="<%= urlFor({ controller: 'player', action: 'weboftrust' }) %>">web of trust</a></li>
            </ul>
            <p class="navbar-text pull-right">
              <% if(!user) { %>
                <a href="/auth/google/">Login with Google+</a>
              <% } else { %>
                Logged in as <strong><%= user.displayName %></strong>
              <% } %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 75px;">
      <%- messages() %>
    </div>

    <div class="container">
      <%- body %>
    </div>

    <hr />
    <footer>
    Copyright &copy; 2013 by <a href="mailto:stesie@brokenpipe.de">Stefan Siegl</a>.
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/js/ingressors.js"></script>
  </body>
</html>
